	<div ng-controller="stocksController" ng-cloak class="ng-cloak">

		<div ng-show="authenticated">
		<h2>Stock Report</h2>
		
		<p>Select Stock: <select ng-options="stock as stock.label for stock in stocks" ng-model="targetStock" ng-change="updateIframe()"></select>
		Select the time-frame: <select ng-options="timeframe as timeframe.label for timeframe in timeframes" ng-model="targetTimeFrame" ng-change="updateIframe()"></select></p>
		
		<table ng-table="vm.tableParams" class="table" show-filter="true">
			<tr>
				<th>Ticker</th>
				<th>Company</th>
				<th>Market</th>
				<th>Needs market suffix</th>
				<th>Currency</th>
			</tr>
			<tr>
				<td>{{targetStock.ticker}}</td>
				<td>{{targetStock.market}}</td>
				<td>{{targetStock.label}}</td>
				<td><input type="checkbox" ng-model="targetStock.needMarketSuffix" readonly="true"/></td>
				<td>{{targetStock.currency}}</td>
			</tr>
		</table>
		<br /> 
		<iframe id="kibanaIframe" refreshable="tab.refresh" ng-src="{{dahsboardURL}}" height="600" width="850"> </iframe>

		</div>
	</div>

