<div ng-show="authenticated">
	<div ng-controller="stocksController" ng-cloak class="ng-cloak">

		<h2>Stock Report</h2>
		
		<select ng-options="stock.ticker as stock.label for stock in stocks" ng-model="selected"></select>
		
		<table ng-table="vm.tableParams" class="table" show-filter="true">
			<tr>
				<th>Ticker</th>
				<th>Market</th>
				<th>Company</th>
				<th>Needs market suffix</th>
			</tr>

			<tr>
				<td>{{stocks[0].ticker}}</td>
				<td>{{stocks[0].market}}</td>
				<td>{{stocks[0].label}}</td>
				<td>{{stocks[0].needMarketSuffix}}</td>
			</tr>
		</table>
		
		Enter your query here:  <input ng-model="query"> <button ng-click="refreshIframe()">Refresh visualization</button>
		<br />
		
		<iframe ng-src="{{dahsboardURL}}" height="800" width="800"> </iframe>
		

	</div>

	<div ng-show="!authenticated">Please log-in in order to see the
		list of managed stocks</div>